click==6.7
cycler==0.10.0
Django==2.2.27
Flask==1.0.2
itsdangerous==0.24
Jinja2==3.1.6
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
numpy==1.21.0
Pillow==9.3.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
Werkzeug==0.15.3
